body{
    background-color: lightblue;
}
.box-container{
    border-radius: 20px;
    width: 100%;
}
.chat-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}
.chat-top-bar-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-top-bar-right img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
}
.sidebar{
    width: 350px;
}
.sidebar ul{
    text-decoration: none;
}
.sidebar ul li{
    width: 200px;
    background-color: gray;
    color: #fff;
    margin-bottom: 3px;
    list-style: none;
    padding: 5px;
    display: flex;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
}
.sidebar ul li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px 10px;
}
.online{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.online-presence{
    background-color: green;
    width: 5px;
    height: 5px;
    margin-bottom: 5px;
}
.online p{
    font-size: 20px;
}
.chat-container{
    width: calc(100% - 200px);
}
#chatUsername{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    color: #fee;
}

.chat-body{
    height: calc(80vh - 100px);
    overflow-y: scroll;
}
.chat-body p{
    display: flex;
    font-size: 24px;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.chat-body::-webkit-scrollbar-thumb{
    background-color: #111;
    width: 20px;
}
.chat-body::-webkit-scrollbar{
    width: 10px;
    background-color: gray;
    border-radius: 10px;

}
.recieve-msg{
    display: flex;
    background-color: #123;
    color: #ffe;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border-radius: 0px 10px 10px;
    max-width: 400px;
    width: fit-content;
}
.sent{
    display: flex;
    flex-direction: column;
}
.sent-msg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #231;
    color: #fee;
    margin: 5px;
    padding: 10px;
    border-radius: 10px 10px 0px;
    max-width: 400px;
    margin-left: 650px;
    width: fit-content;
    flex-wrap: wrap;
}
.recieve-time{
    margin-top: 40px;
}
.sent-time{
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    margin-left: 70px;
}
.msg-time{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}
.chat-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    padding: 5px;

}
.chat-input input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}
.chat-input button{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #123;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
